@{
    ViewBag.Title = "CustomerInquiry1 Page";
}

<h2>CustomerInquiry1 Page</h2>
<div ng-controller="customerInquiryController1">
    <div ng-view></div>
</div>
<script src="../Scripts/AngularJsControllers/CustomerInquiry1.js"></script>
<script src="../Scripts/AngularJsControllers/AjaxService1.js"></script>

@*<script src="../Scripts/AngularJsControllers/AjaxService.js"></script>*@
@*<script src="../Scripts/AngularJsControllers/alertService.js"></script>
<script src="../Scripts/AngularJsControllers/DataGridService.js"></script>
<script src="../Scripts/AngularJsControllers/angular-block-ui.js"></script>*@

