
<div ng-controller="CustomerEntryDetails as vm" ng-init="vm.initializeController()">

    <h3> Order Entry Details </h3>



    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Country
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Extended Price
                </th>
                <th>

                </th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in vm.employees">
               
                 <th scope="row">
                    {{$index+1}}
                </th>
                <td>

                    @*<div ng-bind="emp.firstName"></div>*@
                    <span ng-show="emp.showEdit">{{emp.firstName}}</span>
                    <input ng-show="!emp.showEdit" type="text" ng-model="emp.firstName" class="form-control">
                </td>
                <td>
                    @*<div ng-bind="emp.lastName"></div>*@
                    <span ng-show="emp.showEdit">{{emp.lastName}}</span>
                    <input ng-show="!emp.showEdit" type="text" ng-model="emp.lastName" class="form-control">
                </td>
                <td>
                    @*<div ng-bind="emp.country"></div>*@
                    <span ng-show="emp.showEdit">{{emp.country}}</span>
                    <input ng-show="!emp.showEdit" type="text" ng-model="emp.country" class="form-control">
                </td>
                <td>

                    <span ng-show="emp.showEdit">{{emp.quantity}}</span>
                    <input ng-show="!emp.showEdit" type="text" ng-model="emp.quantity" class="form-control">
                </td>
                <td>

                    <span ng-show="emp.showEdit">{{emp.unitPrice}}</span>
                    <input ng-show="!emp.showEdit" type="text" ng-model="emp.unitPrice" class="form-control">
                </td>
                <td>
                    {{emp.unitPrice * emp.quantity}}


                </td>
                <td>
                    @*<div ng-bind="emp.firstName"></div>*@
                    <span ng-show="emp.showEdit" ng-click="vm.toggleEdit(emp)" class="glyphicon glyphicon-pencil"></span>
                    <span ng-show="!emp.showEdit" ng-click="vm.toggleEdit(emp)" class="glyphicon glyphicon-ok"></span>
                </td>
            </tr>

        </tbody>
    </table>



    @*<script src="~/Views/Customers/CustomerEntryDetails.js"></script>*@

</div>
